<!DOCTYPE html>

<html>

    <head>
    
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    
        
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        
    </head>

    
    <body>
    
        <nav class="topnav">
            <ul>
                <li> <a href="/">A TEST</a></li>
                
                <li> <a href="/historicalData">Historical Data</a></li>
                
                <li> <a href="/liveData">Live Data</a> </li>
                
                <li> <a href="/plan">Plan Trip</a> </li>
                
                <li style="float:right"><a href="/about">About</a></li>
            </ul>
        
        </nav>    
    
        
        <header class="important">
            Historical Data
        </header>
        
        <section>
            <header class="lessimportant">
                Four years worth of data
            </header>
            
            <div class="grid-container">
              <div class="grid-item">1</div>
              <div class="grid-item">2</div>
              <div class="grid-item">3</div>
              <div class="grid-item">4</div>
              <div class="grid-item">5</div>
              <div class="grid-item">6</div>
              <div class="grid-item">7</div>
              <div class="grid-item">8</div>
              <div class="grid-item">9</div>
            </div>
            
        </section>
        
        
    </body>
    
</html>