<!DOCTYPE html>

<html>

    <head>
    
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    
        
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        
    </head>

    
    <body>
    
        <nav class="topnav">
            <ul>
                <li> <a href="/">Title</a></li>
                
                <li> <a href="/historicalData">Historical Data</a></li>
                
                <li> <a href="/liveData">Live Data</a> </li>
                
                <li> <a href="/plan">Plan Trip</a> </li>
                
                <li style="float:right"><a href="/about">About</a></li>
            </ul>
        
        </nav>    
    
        
        <header class="important">
            Historical Data
        </header>
        
        <section>
            <header class="lessimportant">
                Four years worth of data
            </header>
            
              <ul style="margin-top: 320px">
                    {% for set in datasets %}
                            <li><a href="/historicalData/{{ set }}">{{ set }}</a></li>
                    {% endfor %}
                </ul>
            
            
        </section>
        
        
    </body>
    
</html>