<!DOCTYPE html>

<html>

    <head>
    
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    
        
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        
    </head>

    
    <body>
    
        <nav class="topnav">
            <ul>
                <li> <a href="/">A TEST</a></li>
                
                <li> <a href="/historicalData">Historical Data</a></li>
                
                <li> <a href="/liveData">Live Data</a> </li>
                
                <li> <a href="/plan">Plan Trip</a> </li>
                
                <li style="float:right"><a href="/about">About</a></li>
            </ul>
        
        </nav>      
    
        
        <header class="important">
            Plan your Trip
        </header>
        
        <form>
          Starting Station:<br>
          <select name="sStation">
              <option value="none">Select a Station</option>
              <option value="saab">Find a</option>
              <option value="fiat">list of </option>
              <option value="audi">le stations.</option>
            </select> <br>
          Destination Station: <br>
            <select name="dStation">
                <option value="none">Select a Station</option>
                <option value="Alewife">Alewife</option>
                <option value="Andrew">Andrew</option>
                <option value="Ashmont">Ashmont</option>
                <option value="Braintree">Braintree</option>
                <option value="Broadway">Broadway</option>
                <option value="Central">Central</option>
                <option value="CharlesMGH">Charles/MGH</option>
                <option value="Davis">Davis</option>
                <option value="DowntownCrossing">Downtown Crossing</option>
                <option value="FieldsCorner">Fields Corner</option>
                <option value="Harvard">Harvard</option>
                <option value="JFKUMass">JFK/UMass</option>
                <option value="KendallMIT">Kendall/MIT</option>
                <option value="NorthQuincy">North Quincy</option>
                <option value="ParkStreet">Park Street</option>
                <option value="Porter">Porter</option>
                <option value="QuincyAdams">Quincy Adams</option>
                <option value="QuincyCenter">Quincy Center</option>
                <option value="SavinHill">Savin Hill</option>
                <option value="Shawmut">Shawmut</option>
                <option value="SouthStation">South Station</option>
                <option value="Wollaston">Wollaston</option>
            </select> <br>
          Select a date: <br>
            <input type="date" name="dep_day"> <br>
          Select a time: <br>
            <input type="time" name="dep_time">
        </form>
        
        <!--section>
            <header class="lessimportant">
                Historical Data
            </header>
        </section -->
        
        
    </body>
    
</html>